<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>

  <!-- compiled CSS -->
  <% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>
  " />
  <% }); %>

  <!-- compiled JavaScript -->
  <% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script>
  <% }); %></head>

<body ng-controller="AppCtrl">
  <div ng-include="'app/app/header.tpl.html'"></div>
  <div ng-include="'app/app/notifications.tpl.html'" class="container-fluid" ng-show="notifications.getCurrent().length"></div>
  <div ng-view class="container-fluid"></div>
</body>
</html>